<settings>
    <profiles>
        <profile>
            <id>gebspock-project-template</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <repositories>
              <repository>
                <id>central </id>
                <url>https://repo1.maven.org/maven2</url>
              </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
